@model Movies.Models.Movie

@{
    ViewData["Title"] = "Create";
}
<div class="row movie-admin text-light">

    <h1>Create</h1>

    <h4>Movie</h4>
    <hr />
    <div class="col-md-8">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Overview" class="control-label"></label>
                <textarea asp-for="Overview" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Overview" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PosterToUpload" class="control-label"></label>
                <input asp-for="PosterToUpload" />
                <br />
                <span asp-validation-for="PosterToUpload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

        <div>
            <a asp-action="Index" class="btn btn-info">Back to List</a>
        </div>

    </div>
</div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
